
.continue
meta.ini
.env
.env.*

gamedata

# Ignore compiled files
*.class
*.jar
*.war
*.ear
*.apk
*.o
*.so
*.dylib
*.dll
*.exe
*.pyc
*.pyo
*.swp
*.log
*.tmp
*.bak
*.zip
# *.rar
*.7z
*.tar
*.gz
*.xz
*.zst
*.tar.gz
*.tar.xz
*.tar.7z
*.tar.lzma
*.tar.lz
*.tar.bz2
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzip
*.tar.lzma